@model OnlineVideoSore.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
this is a comment
    on multiple lines

*@
@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2>@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>no one has rented</text>
}
else
{

    <ul>
        @foreach (var customer in Model.Customers)
        {
            <p>@customer.Name</p>
        }
    </ul>
}
